/* RESET CSS */
*,*::before, *::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    
}
/* Our styles */

body{
    padding: 4rem;
    background: #18181b;
    color: #f4f4f5;
    font-family:Helvetica, Arial, sans-serif;
    font-weight: 100;
}

h1, h2, h3, h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0.25em;
}
h1{
    font-size: calc(2.2rem + 4vw)
}

p{
    font-size: 1.2rem;
}

a{
    color:rgb(251, 184, 241);
}

a:hover, a:active, a:visited{
    color: rgb(221, 24, 116)
}

footer {
    position: fixed;
    bottom: 2rem;
    color:rgb(248, 221, 244);
}